<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home / Projects Page</title>
</head>

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    tr:nth-child(even) {
        background-color: rgba(150, 212, 212, 0.4);
    }
</style>

<body>
<h1>Проекты</h1>
<table>
    <thead>
    <tr>
        <th>Идентификатор записи</th>
        <th>Название </th>
        <th>Перейти к записи</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projects}">
        <td><span th:text="${project.projectId}"></span></td>
        <td><span th:text="${project.projectName}"></span></td>
        <td><span th:text="${project.listNameUsers}"></span></td>
        <td><a th:href="@{'/home/projects/{id}'(id=${project.projectId})}">Перейти к записи</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>